.toolbar {
    width: fit-content;
    position: fixed;
    top: 10px;
    left: 50%;
    translate: -50%;
    display: flex;
    gap: 10px;
    z-index: 1;

    ul {
        display: flex;
        align-items: center;
        gap: 40px;
        background: #e3c79d;
        padding: 5px 15px;
        box-shadow: 0 0 5px black;
        list-style: none;

        &:first-of-type {
            padding:5px;
            border-top-left-radius:10px;
            border-bottom-left-radius: 10px;
        }
        &:last-of-type {
            border-top-right-radius:10px;
            border-bottom-right-radius: 10px;
        }

        li {
            background: unset;
            height: 100%;

            button {
                background: unset;
                color: var(--color-secondary);
                transform: translate(0, 0);


                &:hover i {
                    scale: 1.7;
                }

                &:hover, &:focus-within {
                    background: transparent;
                    outline: none;
                }

                i {
                    font-size: inherit;
                    transition: scale 0.3s;
                    background: unset;
                    font-size: 1.4rem;
                }

                &.pointDrag {
                    cursor: grab;

                    &:hover i {
                        animation: wiggle 0.5s;
                    }
                }
            }
        }
    }
}

@keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }