:root {
    --logo: url('');
}

body {
    height: 100vh;
    width: 100vw;
    background: #eee;
}


.content {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}