.edit {
	.content {


		.mapArticle {
			position: fixed;
			width: 100vw;
			height: 100vh;
			isolation: isolate;

			.mapWrapper {
				position: absolute;
				left: 50%;
				top: 50%;
				translate: -50% -50%;
				width: fit-content;
				height: fit-content;

				.map {
					width: 70vw;
					object-fit: contain;
					-webkit-user-drag: none;
				}

				+.defaultAttribution {
					position: fixed;
					bottom: 50px;
					left: 50%;
					translate: -50%;
					display: none;
					filter: drop-shadow(0 0 2px rgb(255, 254, 254));
					-webkit-text-stroke: 1px black;
					paint-order: stroke;
					letter-spacing: 0.1em;
				}

				&:has([src*="defaultMap"])+.defaultAttribution {
					display: inline;
				}

				.mapPoint {
					font-size: 25px;
					position: absolute;
					cursor: pointer;
					z-index: 5;

					&::after {
						position: absolute;
						left: 50%;
						top: 0;
						font-size: 20px;
						translate: -50% -100%;
						width: fit-content;
						min-width: 20ch;
						display: block;
						content: attr(data-title);
						user-select: none;
						pointer-events: none;
						opacity: 0;
						transition: opacity var(--transition-dets), top var(--transition-dets);
						filter: drop-shadow(0 0 2px rgb(255, 254, 254));
						-webkit-text-stroke: 1px black;
						paint-order: stroke;
					}

					&:hover::after,&.active::after {
						opacity: 1;
					}
					&.active::after {
						top:-10px;
					}
					
					&.dragging {
						pointer-events: none;
					}

					&.locationPin {
						color:rgb(138, 1, 141);
					}
	
					&.eventPin {
						color: #da3d3d;
					}
				}

				
			}
		}
	}
}