.edit {
	.content {


		.mapArticle {
			position: fixed;
			width: 100vw;
			height: 100vh;
			isolation: isolate;

			.mapWrapper {
				position: absolute;
				left: 50%;
				top: 50%;
				translate: -50% -50%;
				width: fit-content;
				height: fit-content;

				.map {
					width: 70vw;
					object-fit: contain;
					-webkit-user-drag: none;
				}
				+.defaultAttribution {
					position: fixed;
					bottom: 50px;
					left: 50%;
					translate: -50%;
					display: none;
				}

				&:has([src*="defaultMap"]) + .defaultAttribution {
					display: inline;
				}

				.eventPin {
					color: #da3d3d;
					font-size: 25px;
					position: absolute;
					cursor: pointer;
					z-index: 5;

					i {
						filter: drop-shadow(0 0 2px #000);
						transition: all 0.3s ease-in-out;

					}

					&.active i {
						transform-origin: bottom center;
						scale: 1.5;
						color: #e22626;
						filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 2px #fff) drop-shadow(0 0 10px #fff);
					}
				}
			}
		}
	}
}