.timeline {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 200px;
    background-color: var(--color-primary);
    background-image: url('https://i.imgur.com/XJY6fa1.jpeg');
    background-size: cover;

    translate: 0 100%;
    transition: all 0.3s ease-in-out;

    &.open {
        translate: 0;
        box-shadow: 0 0 5px;
    }

    .bar {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 1000px;
        height: 10px;
        background: grey;
        border-radius: 2px;


        .divisions {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;

            .division {
                position: absolute;
                top: -50px;
                translate: -50%;

                &::after {
                    display: block;
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    translate: -50% 100%;
                    background: #000;
                    width: 3px;
                    height: 50px;
                    border-radius: 200px;
                }
            }
        }
    }

    .events {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 1000px;

        .event {
            position: absolute;
            top: 50%;
            translate: -50% -50%;
            height: 10px;
            width: 10px;
            background: red;



            .date {
                position: absolute;
                bottom: -50px;
                left: 50%;
                translate: -50%;
                opacity: 0;
                transition: opacity 0.3s;
            }

            &:hover .date {
                opacity: 1;
            }
        }
    }
}