.timeline {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 200px;
    background-color: var(--color-primary);
    background-image: url('https://i.imgur.com/XJY6fa1.jpeg');
    background-size: cover;

    translate: 0 100%;
    transition: all 0.3s ease-in-out;

    &.open {
        translate: 0;
        box-shadow: 0 0 5px;
    }

    .bar {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 1000px;
        height: 10px;
        background: grey;
        border-radius: 2px;

        .years {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;

            .division {
                position: absolute;
                top: -50px;
                translate: -50%;

                &::after {
                    display: block;
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    translate: -50% 100%;
                    background: #000;
                    width: 3px;
                    height: 50px;
                    border-radius: 200px;
                }
            }
        }
    }

    .timelineDrop {
        position: absolute;
        inset: 0;
    }

    .events {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 1000px;
        height: 10px;

        .eventPin {
            position: absolute;
            top: 50%;
            translate: -50% -50%;
            height: 10px;
            width: 10px;
            background: black;
            color: rgb(220, 82, 12);
            cursor: pointer;

            i {
                filter: drop-shadow(0 0 0.5px black) drop-shadow(0 0 0.5px black) drop-shadow(0 0 0.5px black);
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                transition: scale 0.3s;
            }

            &.active i {
                scale: 2;
            }
        }
    }

    .closeButton {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border-radius: unset;
        font-family: Merienda, sans-serif;
        color: black;
        font-size: 30px;
        padding: 10px;
        transition: scale 0.3s ease-in-out;

        &:hover, &:focus-within {
            background: none;
            scale: 1.2;

        }
    }
}