.changelog {
    overflow-y: auto;

    .content {
        margin-inline:auto;
        padding-block: 70px;
        justify-content: flex-start;
        width: clamp(300px, 40%, 1000px);
    }

    .card {
        text-align: left;
        width: 100%;
    }

    ul, ol {
        margin-block: 20px;
        padding-left: 20px;
        line-height: 1.8em;
    }
}