/* Sidebar styling */
.sidebar {
    --side-width: 350px;
    --time: 0.3s;

    width: var(--side-width);
    height: 100%;
    position: fixed;
    top: 0;
    left: calc(-1 *var(--side-width));
    background-color: var(--color-primary);
    background-image: url('https://i.imgur.com/oTKpg48.png');
    background-size: 250%;
    transition: all var(--transition-dets);
    padding: 10px;
    z-index: 2;
    overflow: hidden;

    &:has(+ .timeline.open) {
        height: calc(100% - 200px);

        .fieldGroup textarea {
            max-height: 200px;
        }
    }

    .sidebarWrapper {
        height: 100%;
        border: 30px solid;
        border-image: url('../../assets/codeBorder.png') 40;


        .backToLocation {
            position: absolute;
            top: 10px;
            left: 10px;
            background: none;
            border-radius: unset;
            font-family: Merienda, sans-serif;
            color: black;
            font-size: 30px;
            padding: 10px;
            transition: scale 0.3s ease-in-out;

            &:hover, &:focus-within {
                background: none;
                scale: 1.2;
            }
        }

        .closeButton {
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border-radius: unset;
            font-family: Merienda, sans-serif;
            color: black;
            font-size: 30px;
            padding: 10px;
            transition: scale 0.3s ease-in-out;

            &:hover, &:focus-within {
                background: none;
                scale: 1.2;
            }
        }


        .sidebarContent {
            padding-top: 50px;

            h2 {
                text-decoration:underline;
                margin-bottom:10px;
            }

            .sidebarActions {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 50px;
            }

            >.view {
                .titleWrapper {

                    display: flex;
                    align-items: baseline;
                    justify-content: space-between;

                    h2 {
                        border:none;
                    }

                    button {
                        background: none;
                        border-radius: unset;
                        color:black;
                        font-size:20px;
                    }
                }
            }

            >.event {

                &.view {

                    .date {
                        color: #555;
                    }
                }

            }

            >.location {
                .events {
                    font-size: 25px;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;

                    .eventPin {
                        font-size: 35px;
                        width: auto;
                        height: auto;
                        translate: none !important;
                    }
                }
            }

            .fieldGroup {
                display: flex;
                flex-direction: column;
                align-items: start;

                input, textarea {
                    width: 100%;
                }

                textarea {
                    resize: vertical;
                    min-height: 70px;
                    max-width: 100%;
                    max-height: 400px;
                    transition: max-height var(--transition-dets);
                }
            }
        }
    }

    &.open {
        left: 0;
        box-shadow: 0 0 5px;
    }



}