* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-font-smoothing: antialiased;
	font-optical-sizing: auto;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img, *:has(>img) {
	user-select: none;
}