.customDate {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:5px;
    height: 1.5em;
    border-radius: 5px;
    width: fit-content;
    overflow: hidden;
    padding: 0px 5px 5px 5px;
    box-shadow: 0 0 3px black;
    font-size: 20px;
    background: #fffaf3;

    input {
        font-size: 16px;
        width: 6ch;
        height: 100%;
        box-shadow: none;
        font-family: monospace;
        background: none;

        &:focus-within {
            outline: none;
        }
    }
}